<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header" class="top-navbar d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-0 m-0">
        <div class="btn-menu ms-3">
            <div class="bar-icon">
                <i class="bar"></i>
                <i class="bar"></i>
                <i class="bar"></i>
            </div>
        </div>
        
        <div class="d-flex align-items-center">
            <!-- 세션 유효 시간 -->
            <div class="position-relative">
                <div>
                    <span id="session-time" class="fw-bold text-primary" aria-live="polite">-- : --</span>
                </div>
            </div>

            <!-- 사용자 프로필 -->
            <div class="dropdown">
                <button class="btn btn-box dropdown-toggle border-0" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span th:text="${session.userName} ?: '관리자'">관리자</span>님
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/profile}">프로필</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                </ul>
            </div>
            
            <div class="position-relative">
                <button class="btn btn-box" title="비밀번호 변경">
                    <i class="fa-solid fa-key"></i>
                </button>
            </div>
            <div class="position-relative">
                <button class="btn btn-box" title="로그아웃" onclick="logout()">
                    <i class="fa-solid fa-power-off"></i>
                </button>
            </div>
            <div class="position-relative me-3">
                <button class="btn btn-box" title="APPS" onclick="layout.Overlay.tabOpen()">
                    <i class="fa-solid fa-grip-vertical"></i>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
