@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html {
    height: -webkit-fill-available;
}
* {
    font-family: "Noto Sans KR", sans-serif;
}
body {
	font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: #363A43;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.login-wrapper {
    width: 100%;
    height: 100vh;
    .login {
        height: 100%;
        .login-box-wrapper {
            .logo-box {
                width: 70%;
                max-width: 550px;
                img {
                    width: 110px;
                }
            }
            .login-form {
                width: 70%;
                max-width: 550px;
            }
        }
        .login-bg {
            background-color: #F1F2F4;
            img {
                width: 80%;
                max-width: 600px;
            }
        }
    }
}
@media (max-width: 992px) {
    .login-wrapper {
        .login-box-wrapper {
            width: 100% !important;
            .logo-box {
                width: 70%;
                img {
                    width: 90px !important;
                }
            }
            .login-form {
                width: 70%;
                max-width: 550px;
            }
        }
        .login {
            .login-bg {
                display: none !important;
            }
        }
    }
}