<div th:fragment="list" th:remove="tag">
    <div class="table-contents" th:data-current=${RLIST.page.selectedPage} th:data-lastnum=${RLIST.page.lastPage} th:data-total=${RLIST.page.totalSize} th:data-size=${RLIST.page.rowsPerPage}>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>아이디</th>
                <th>이름</th>
                <th>휴대폰번호</th>
                <th>이메일</th>
                <th>부서</th>
                <th>등급</th>
                <th>상태</th>
                <th>변경일시</th>
                <th>등록일시</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${#lists.size(RLIST.datas) eq 0}">
                <tr>
                    <td colspan="20">조회된 데이터가 없습니다.</td>
                </tr>
            </th:block>

            <th:block th:unless="${#lists.size(RLIST.datas) eq 0}">
                <div th:each="entry : ${RLIST.datas}">
                    <tr>
                        <td>[[${entry['@INDEX']}]]</td>
                        <td>
                            <a class="link" style="cursor: pointer" th:attr="onclick=|layout.TabManager.open({ title : '사용자 수정',  url : '/member/admin/${entry.id}' , options : { activeTab : false } })|">[[${entry.id}]]</a>
                        </td>
                        <td style="min-width:100px;">[[${entry.name}]]</td>
                        <td>[[${entry.phone}]]</td>
                        <td>[[${entry.email}]]</td>
                        <td>[[${entry.dept}]]</td>
                        <td>
                            <div th:if = "${entry.role eq 0}"> 임원</div>
                            <div th:if = "${entry.role eq 1}"> 팀장</div>
                            <div th:if = "${entry.role eq 2}"> 팀원</div>
                        </td>
                        <td>
                            <div th:if = "${entry.status eq 'pending'}"> <span class="badge bg-danger">대기</span> </div>
                            <div th:if = "${entry.status eq 'active'}"> <span class="badge bg-info">사용</span> </div>
                            <div th:if = "${entry.status eq 'inactive'}"> <span class="badge bg-primary">중지</span> </div>
                            <div th:if = "${entry.status eq 'terminate'}"> <span class="badge bg-dark">탈퇴</span> </div>
                        </td>
                        <td class="date" style="min-width: 125px;">[[${entry.udtDate}]]</td>
                        <td class="date" style="min-width: 125px;">[[${entry.regDate}]]</td>
                        <td>
                            <button type="button"
                                    style="min-width: 125px; width: auto; height: 20px; line-height: 20px; border: 0; font-size: 13px; padding: 0px 10px 0px 10px; border-radius: 4px; cursor: pointer;"
                                    th:onclick="passwdReset(this, [[${entry.id}]]);">
                                비밀번호 변경
                            </button>
                        </td>
                    </tr>
                </div>
            </th:block>
            </tbody>
        </table>
        <div class="table-footer">
            <div class="paging">
                <button type="button" class="arrow-btn prev-btn" onclick="search.pagingbtn('prev', this)">
                    <i class="fas fa-angle-left"></i>
                </button>
                <div class="num">
                </div>
                <button type="button" class="arrow-btn next-btn" onclick="search.pagingbtn('next', this)">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>